extends layout 

block content
    div    
        p(class="fieldsettitle") List
    div(class="login-signup")
        a(href='/party/add', class="button-addplants", class="button-loginL") Add New List
    div
        |
        div(class="user-cards", data-party-cards-container)
        template(data-party-template)
            div(class="card")
                div(class="header", data-header)
                div(class="image", data-image)
                //- div(class="body", data-body)
                div(class="link", data-link)
    script(src='/js/list.js')
