extends layout 
block content
    div
        button Show All
        | 
        button Regenerate

    ul
        each val, i in member
            div
                li= val
                img(src="/images/Arrow.png", alt="")
                button(class="btnShow") Show
                span(class="toggle")= `${member[Math.floor(Math.random() * member.length)]}`
    div
        a(href="#", id='delete', data-id=`${party.id}`) Delete List
    script(src="/js/delete_party.js")
    script(src="/js/toggle.js")
