body{
}
.header1 {
    font-family: 'Damion';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 82px;
}

li{
    list-style-type: none;
    display: inline;
}

  .toggle_hide{
      display:none
  }